<%- include('./partials/header') %>
<div class="w-screen h-screen bg-yellow-200 absolute top-0">
  <div
    class="w-[90vw] box bg-zinc-100 relative overflow-y-scroll left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] rounded-2xl md:w-[45vw] h-[65vh] lg:w-[30vw] h-[65vh]"
  >
    <form
      class="w-full flex justify-center items-center flex-col gap-5 my-2"
      action="/update"
      method="post"
    >
      <div
        class="logo w-[20%] flex justify-center items-center overflow-hidden"
      ></div>
      <h1 class="font-semibold text-3xl">Edit profile</h1>
      <% if(user.email && user.email.length>0){ %>
      <input
        class="w-[70%] py-1 px-2 rounded-md focus:outline-none focus:ring focus:ring-yellow-400"
        type="email"
        name="email"
        placeholder="<%= user.email %>"
      />
      <% }else{ %>
        <input
        class="w-[70%] py-1 px-2 rounded-md focus:outline-none focus:ring focus:ring-yellow-400"
        type="email"
        name="email"
        placeholder="email"
      />
      <% } %>
      <% if(user.bio && user.bio.length>0){ %>
        <input
          class="w-[70%] py-1 px-2 rounded-md focus:outline-none focus:ring focus:ring-yellow-400"
          type="text"
          name="bio"
          placeholder="<%= user.bio %>"
        />
        <% }else{ %>
          <input
          class="w-[70%] py-1 px-2 rounded-md focus:outline-none focus:ring focus:ring-yellow-400"
          type="text"
          name="bio"
          placeholder="bio"
        />
        <% } %>
        <% if(user.clgname && user.clgname.length>0){ %>
          <input
            class="w-[70%] py-1 px-2 rounded-md focus:outline-none focus:ring focus:ring-yellow-400"
            type="text"
            name="clgname"
            placeholder="<%= user.clgname %>"
          />
          <% }else{ %>
            <input
            class="w-[70%] py-1 px-2 rounded-md focus:outline-none focus:ring focus:ring-yellow-400"
            type="text"
            name="clgname"
            placeholder="College/University"
          />
          <% } %> 
          <% if(user.branch && user.branch.length>0){ %>
            <input
              class="w-[70%] py-1 px-2 rounded-md focus:outline-none focus:ring focus:ring-yellow-400"
              type="text"
              name="branch"
              placeholder="<%= user.branch %>"
            />
            <% }else{ %>
              <input
              class="w-[70%] py-1 px-2 rounded-md focus:outline-none focus:ring focus:ring-yellow-400"
              type="text"
              name="branch"
              placeholder="Branch"
            />
            <% } %>

      <h1 class="font-semibold text-xl">Social links</h1>
      
      <% if(user.github && user.github.length>0){ %>
        <input
          class="w-[70%] py-1 px-2 rounded-md focus:outline-none focus:ring focus:ring-yellow-400"
          type="text"
          name="github"
          placeholder="<%= user.github %>"
        />
        <% }else{ %>
          <input
          class="w-[70%] py-1 px-2 rounded-md focus:outline-none focus:ring focus:ring-yellow-400"
          type="text"
          name="github"
          placeholder="Github"
        />
        <% } %>
        <% if(user.linkedin && user.linkedin.length>0){ %>
          <input
            class="w-[70%] py-1 px-2 rounded-md focus:outline-none focus:ring focus:ring-yellow-400"
            type="text"
            name="linkedin"
            placeholder="<%= user.linkedin %>"
          />
          <% }else{ %>
            <input
            class="w-[70%] py-1 px-2 rounded-md focus:outline-none focus:ring focus:ring-yellow-400"
            type="text"
            name="linkedin"
            placeholder="LinkedIn"
          />
          <% } %>
          <% if(user.instagram && user.instagram.length>0){ %>
            <input
              class="w-[70%] py-1 px-2 rounded-md focus:outline-none focus:ring focus:ring-yellow-400"
              type="text"
              name="instagram"
              placeholder="<%= user.instagram %>"
            />
            <% }else{ %>
              <input
              class="w-[70%] py-1 px-2 rounded-md focus:outline-none focus:ring focus:ring-yellow-400"
              type="text"
              name="instagram"
              placeholder="Instagram"
            />
            <% } %>
      
      <input
        class="mt-5 bg-yellow-400 opacity-85 text-white px-3 py-2 rounded-xl cursor-pointer hover:opacity-100"
        type="submit"
        value="Update details"
      />
    </form>
  </div>
</div>


<%- include('./partials/footer') %>
