<%- include('./partials/header') %>

    <div class="w-[90vw] md:w-[80vw] mx-auto max-w-[1024px]">
        <div class="w-full flex justify-between items-center relative top-[70px] px-4">
            <div class="text-2xl font-bold">Profile</div>
            <button class="mt-2 bg-yellow-300 hover:bg-yellow-400 text-white font-bold py-2 px-4 rounded-lg">Edit Profile</button>
        </div>
    <div class="relative top-[100px] z-5 flex flex-col lg:flex-row">
        <div class="left w-full flex flex-col items-center md:w-[45%] lg:w-[35%]">
            <div class="flex w-full bg-blue-100 flex-col items-center rounded-xl gap-2  py-3">
                <div><img class="h-[100px] rounded-full my-2" src="../images/<%= user.profileimg %>" alt="">
                </div>
                <div class="text-lg font-medium">@<%= user.username %></div>
                <div class="stats w-[80%] flex justify-around gap-5">
                    <div class="flex flex-col items-center">
                        <div class="">Posts</div>
                        <div class="text-lg font-medium"><%= user.posts.length %></div>
                    </div>
                    <div class="flex flex-col items-center">
                        <div>Followers</div>
                        <div class="text-lg font-medium"><%= user.followers.length %></div>
                    </div>
                    <div class="flex flex-col items-center">
                        <div>Following</div>
                        <div class="text-lg font-medium"><%= user.following.length %></div>
                    </div>
                </div>
            </div>
            <div class="flex w-full bg-blue-100 flex-col items-center rounded-xl gap-1  py-3 mt-5">
                <div class="text-lg font-medium">Description</div>
                <% if(user.bio && user.bio.length > 0) { %>
                    <div><%= user.bio %></div>
                <% } else { %>
                    <div class="text-slate-600 text-sm">Tell about yourself</div>
                <% } %>
            </div>
            <div class="flex w-full bg-blue-100 flex-col items-center rounded-xl gap-1  py-3 mt-5">
                <div class="text-lg font-medium">Personal Details</div>
                <div class="clg flex gap-2 items-center">
                <i class="ri-school-line"></i>
                <% if(user.clgname && user.clgname.length > 0) { %>
                    <div><%= user.clgname %></div>
                <% } else { %>
                    <div class="text-slate-600 text-sm">No college mentioned</div>
                <% } %>
                </div>
                <div class="clg flex gap-2 items-center">
                    <i class="ri-graduation-cap-line text-lg"></i>
                    <% if(user.clgname && user.clgname.length > 0) { %>
                        <div><%= user.branch %></div>
                    <% } else { %>
                        <div class="text-slate-600 text-sm">No branch specified</div>
                    <% } %>
                </div>
                <div class="clg flex gap-2 items-center">
                    <i class="ri-mail-open-line"></i>

                        <div class="text-slate-600 text-sm"><%= user.email %></div>
                </div>
            </div>
        </div>
        <div class="right">
            <div></div>
            <div></div>
        </div>
    </div>
    </div>
    <script>
        const menuIcon = document.getElementById('menu-icon');
        const dropdownMenu = document.getElementById('dropdown-menu');

        menuIcon.addEventListener('click', function (event) {
            event.preventDefault(); // Prevent the default behavior of the <i> element
            dropdownMenu.classList.toggle('hidden');
        });

    </script>
    <%- include('./partials/footer') %>